
@model string
@{
    /**/

    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/MapLayout.cshtml";
}
@Html.Partial("Topmenu")
@using (Html.BeginForm(null, null, FormMethod.Get, new { name = "form", id = "form" }))
{
    <input type="hidden" id="city2" name="city2" />
    <input type="hidden" id="cityLat" name="cityLat" />
    <input type="hidden" id="cityLng" name="cityLng" />
}
<div id="map" class="map"></div>
<script>
    var myAPIpoints = @Html.Raw(Model);
    var startLat = @ViewBag.Lat;
    var startLng = @ViewBag.Lng;
    var startRadius = @ViewBag.Radius;
</script>
<script src="~/Scripts/MapApp.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeZ0LKWiLMNWqQGI_L5lLzo8ZN9Sa8AHU&libraries=places&callback=initialize">
</script>
@using (Html.BeginForm("FilterPost", "Home", FormMethod.Post, new { name = "filter", id = "filter", onSubmit = "return saveComment();" }))
{
    @Html.Partial("Bottommenu")
}


